[Unit]
Description=DARIAH Contribution Tool
After=network.target

[Service]
Type=notify
User=guni
Group=guni
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/web-apps/dariah-contrib/server
# PermissionsStartOnly=true
# PIDFile=/run/dariah-contrib/dariah-contrib.pid
# ExecStartPre=/bin/mkdir /run/dariah-contrib
# ExecStartPre=/bin/chown -R guni:guni /run/dariah-contrib
ExecstartPre=source /opt/rh/rh-python36/enable
ExecStart=/usr/bin/env gunicorn production:application -b 127.0.0.1:8008 --preload -w 3 --access-logfile /var/log/dariah-contrib/access.log --error-logfile /var/log/dariah-contrib/error.log --capture-output
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
# ExecStopPost=/bin/rm -rf /run/dariah-contrib
PrivateTmp=true

[Install]
WantedBy=multi-user.target

