[Unit]
Description = DARIAH Contribution Tool
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/dariah-contrib/dariah-contrib.pid
User = guni
Group = guni
WorkingDirectory = /opt/web-apps/dariah-contrib/server
ExecStartPre = /bin/mkdir /run/dariah-contrib
ExecStartPre = /bin/chown -R guni:guni /run/dariah-contrib
ExecStart = /usr/bin/env gunicorn production:application --pid /run/dariah-contrib/dariah-contrib.pid -b 127.0.0.1:8008 --preload -w 3 --access-logfile /var/log/dariah-contrib/error.log --error-logfile /var/log/dariah-contrib/access.log --capture-output
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/dariah-contrib
PrivateTmp = true

[Install]
WantedBy = multi-user.target

