*, *:before, *:after
{
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html
{
	height: 100vh;
	width: 100vw;
	margin: 0rem !important;
	padding: 0rem !important;
}
body
{
	height: 100vh;
	width: 100vw;
	margin: 0rem !important;
	padding: 0rem !important;
  display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: flex-start;
}

/* MAIN PAGE DIVISION - absolute */

#msgbar
{
  position: absolute;
  top: 0.5rem;
  right: 5vw;
	width: 30vw;
  display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
  align-items: stretch;
	align-content: flex-start;
}

/* MAIN PAGE DIVISION - vertical */

#topbar
{
	width: 100vw;
  height: var(--topbar-height);
	flex: 0 0 auto;
	margin: 0em;
	padding: 0em;
}
#rest
{
	100vw;
  height: calc(100vh - var(--topbar-height));
	flex: 0 1 auto;
  display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0em;
	padding: 0em;
}

/* REST DIVISION - horizontal */

#sidebar
{
  flex: 0 0 auto;
  width: var(--sidebar-width);
	height: calc(100vh - var(--topbar-height));
  overflow: auto;
  display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0em;
	padding: 0.5rem;
}
#material
{
  flex: 0 0 auto;
  width: calc(100vw - var(--sidebar-width));
	height: calc(100vh - var(--topbar-height));
  overflow: auto;
	margin: 0em;
	padding: 0.5rem;
}

/* MSG BAR */

div.msgitem {
	padding: 0.2em;
  border-radius: 0.3em;
  font-size: medium;
  font-family: monospace;
}

div.msgitem.message {
  color: var(--msg-fore);
  background-color: var(--msg-back);
}

div.msgitem.error {
  color: var(--error-fore-i);
  font-weight: bold;
  background-color: var(--error-back-i);
}

/* TOP BAR */

div.headline
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: flex-start;
	width: 100%;
  background-color: var(--headline-back);
  border: 1pt solid var(--headline-border);
  border-radius: 0.2rem;
  padding: 0.2rem;
}
div.headlinestart
{
  flex: 0 1 auto;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: flex-start;
}
div.headlineend
{
  flex: 2 0 auto;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: flex-end;
}
.user
{
  flex: 0 1 auto;
	font-size: small;
	font-weight: normal;
	background-color: var(--user-back);
	color: var(--user-fore);
	border: 2px dotted var(--user-border);
	border-radius: 0.4rem;
	padding: 0.2rem;
  margin: 0.1rem 1rem 0.1rem 0.1rem;
}
.access
{
  flex: 0 1 auto;
	font-size: small;
	font-weight: normal;
	background-color: var(--access-back);
	color: var(--access-fore);
	border: 2px dotted var(--access-border);
	border-radius: 0.4rem;
	padding: 0.2rem;
  margin: 0.1rem 2rem 0.1rem 1rem;
}
.loginout
{
  flex: 0 1 auto;
  margin: 0.1rem 1rem;
}
.button.help
{
  flex: 0 1 auto;
  margin: 0.5rem .5rem;
  font-size: large;
	background-color: var(--help-back);
	color: var(--help-fore);

}
#logo
{
  flex: 0 1 auto;
  text-align: right;
  height: calc(var(--topbar-height) - 1rem);
  z-index: 999;
}

/* SIDEBAR */

div.sidebarsec,
details.nav
{
  display: flex;
  flex-flow: column nowrap;
}
