/* prettier-ignore */
:root {

    /* COLORS */
    --headline-back:                   hsla(  0,   0%,  80%, 0.8);
    --headline-border:                 hsla(  0,   0%,  60%, 0.5);

    --user-fore:                       hsla(  0, 100%,   0%, 1  );
    --user-back:                       hsla(  0,   0%,  90%, 0.8);
    --user-border:                     hsla(  0,   0%,  95%, 0.5);

    --access-fore:                     hsla( 60, 100%,   0%, 1  );
    --access-back:                     hsla( 60,   0%,  90%, 0.8);
    --access-border:                   hsla( 60,   0%,  95%, 0.5);

    --action-fore:                     hsla(210, 100%,  30%, 1  );
    --action-back:                     hsla(210, 100%,  90%, 1  );
    --action-border:                   hsla(210, 100%,  50%, 0.5);
    --action-disabled-back:            hsla(210,   0%,  90%, 1  );
    --action-active-fore:              hsla(210, 100%,  40%, 1  );
    --action-active-back:              hsla(060,  80%,  90%, 0.8);
    --action-active-border:            hsla(060, 100%,  40%, 1.0);

    --assessment-quoted-fore:          hsla(180,  35%,  10%, 1  );
    --assessment-quoted-back:          hsla(180,  35%,  92%, 1  );
    --assessment-quoted-border:        hsla(180,  35%,  35%, 0.5);

    --dim-fore-o:                      hsla(  0,   0%,  30%, 1  );
    --dim-fore:                        hsla(  0,   0%,  50%, 1  );
    --dim-back:                        hsla(  0,   0%,  85%, 0.5);

    --edit-text-fore:                  hsla(240,  50%,  30%, 1  );
    --edit-text-back:                  hsla(210, 100%,  98%, 1  );
    --edit-text-border:                hsla(210, 100%,  50%, 0.5);
    --edit-focus-fore:                 hsla(240, 100%,  40%, 1  );
    --edit-focus-back:                 hsla(210, 100%,  95%, 1  );
    --edit-focus-border:               hsla(210, 100%,  50%, 0.9);
    --edit-dirty-fore:                 hsla( 30, 100%,  20%, 1  );
    --edit-dirty-back:                 hsla(210, 100%,  90%, 1  );
    --edit-dirty-border:               hsla( 30, 100%,  40%, 0.9);

    --error-fore-o:                    hsla(  0, 100%,  30%, 1  );
    --error-fore:                      hsla(  0, 100%,  50%, 1  );
    --error-back:                      hsla(  0, 100%,  80%, 0.5);
    --error-fore-i:                    hsla( 60, 100%,  60%, 1  );
    --error-back-i:                    hsla(  0, 100%,  40%, 1  );

    --frozen-back:                     hsla(180, 100%,  95%, 1  );
    --frozen-border:                   hsla(180, 100%,  50%, 1  );

    --thaw-border:                     hsla(060, 100%,  40%, 1  );

    --workflow-border:                 hsla(  0,   0%,  80%, 0.5);

    --good-fore-o:                     hsla(120, 100%,  30%, 1  );
    --good-fore:                       hsla(120, 100%,  50%, 1  );
    --good-back:                       hsla(120, 100%,  80%, 0.5);

    --help-fore:                       hsla( 90, 100%,   0%, 1  );
    --help-back:                       hsla( 90, 100%,  90%, 0.8);

    --icon-fore:                       hsla(210,   0%,  20%, 1  );
    --icon-special-fore:               hsla(210, 100%,  40%, 1  );
    --icon-error-fore:                 hsla(  0, 100%,  40%, 1  );
    --icon-good-fore:                  hsla(120, 100%,  40%, 1  );
    --icon-warning-fore:               hsla( 30, 100%,  40%, 1  );

    --info-fore-o:                     hsla(120,   0%,  30%, 1  );
    --info-fore:                       hsla(120,   0%,  50%, 1  );
    --info-back:                       hsla(120,   0%,  80%, 0.5);

    --record-back:                     hsla(  0,   0%,  90%, 0.8);
    --record-border:                   hsla(  0,   0%,  70%, 0.5);
    --record-edit-back:                hsla(  0,   0%,  80%, 0.8);
    --record-edit-border:              hsla(  0,   0%,  80%, 0.5);
    --record-border-no:                hsla(  0,   0%,   0%, 0  );

    --record-details-back:             hsla(  0,   0%,  95%, 0.8);

    --review-quoted-fore:              hsla( 30,  45%,  10%, 1  );
    --review-quoted-back:              hsla( 30,  45%,  92%, 1  );
    --review-quoted-border:            hsla( 30,  45%,  35%, 0.5);

    --score-fore:                      hsla(120,  80%,  30%, 1  );
    --score-back:                      hsla(120, 100%,  98%, 1  );
    --score-border:                    hsla(120,  80%,  50%, 0.5);

    --stats-value-fore:                hsla(  0,   0%,   0%, 1  );
    --stats-value-back:                hsla(  0,   0%,  90%, 1  );

    --special-fore-o:                  hsla(120,  00%,  30%, 1  );
    --special-fore:                    hsla(120,  00%,  50%, 1  );
    --special-back:                    hsla(120, 100%,  95%, 0.5);

    --tag-fore:                        hsla(  0,   0%,   0%, 1  );
    --tag-back:                        hsla(  0,   0%,  90%, 0.8);
    --tag-border:                      hsla(  0,   0%,  60%, 0.5);
    --tag-var-fore:                    hsla(  0,  50%,  50%, 1  );
    --tag-var-back:                    hsla(210, 100%,  95%, 1  );
    --tag-inactual-fore:               hsla(  0, 100%,   0%, 1  );
    --tag-inactual-back:               hsla(  0, 100%,  80%, 1  );
    --tag-inactual-border:             hsla(  0, 100%,  50%, 0.5);

    --value-edit-back:                 hsla(120, 100%, 100%, 1  );
    --value-back:                      hsla(  0,   0%,  91%, 0.8);
    --value-border:                    hsla(  0,   0%,  95%, 1  );

    --warning-fore-o:                  hsla( 30, 100%,  30%, 1  );
    --warning-fore:                    hsla( 30, 100%,  50%, 1  );
    --warning-back:                    hsla( 30, 100%,  80%, 0.5);

    --msg-fore:                        hsla( 60, 100%,  90%, 1  );
    --msg-back:                        hsla(  0,   0%,  70%, 0.3);

    --task-info-fore:                  hsla(240, 100%, 100%, 1  );
    --task-info-back:                  hsla(240, 100%,  30%, 1  );
    --task-info-border:                hsla(240, 100%,  90%, 0.7);

    --task-good-fore:                  hsla(120, 100%, 100%, 1  );
    --task-good-back:                  hsla(120, 100%,  30%, 1  );
    --task-good-border:                hsla(120, 100%,  90%, 0.7);

    --task-warning-fore:               hsla( 30, 100%, 100%, 1  );
    --task-warning-back:               hsla( 30, 100%,  40%, 1  );
    --task-warning-border:             hsla( 30, 100%,  90%, 0.7);

    --task-error-fore:                 hsla(  0, 100%, 100%, 1  );
    --task-error-back:                 hsla(  0, 100%,  40%, 1  );
    --task-error-border:               hsla(  0, 100%,  90%, 0.7);

    --task-active-fore:                hsla(210, 100%,  40%, 1  );
    --task-active-back:                hsla(060,  80%,  90%, 0.8);
    --task-active-border:              hsla(060, 100%,  50%, 0.5);

    --status-info-fore:                hsla(240,   0%,   0%, 1  );
    --status-info-back:                hsla(240, 100%,  95%, 1  );
    --status-info-border:              hsla(240, 100%,  95%, 1  );

    --status-good-fore:                hsla(120,   0%,   0%, 1  );
    --status-good-back:                hsla(120, 100%,  90%, 1  );
    --status-good-border:              hsla(120, 100%,  90%, 1  );

    --status-warning-fore:             hsla( 30,   0%,   0%, 1  );
    --status-warning-back:             hsla( 30, 100%,  90%, 1  );
    --status-warning-border:           hsla( 30, 100%,  90%, 1  );

    --status-error-fore:               hsla(  0,   0%,   0%, 1  );
    --status-error-back:               hsla(  0, 100%,  80%, 1  );
    --status-error-border:             hsla(  0, 100%,  80%, 1  );


    /* SIZES */

    --sidebar-width:                   20rem;
    --topbar-height:                   3rem;
}
