<html> 
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>DARIAH Contribution Tool</title>
      <meta name="application-name" content="DARIAH Contribution Tool"/>
      <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png">
      <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/static/favicons/favicon-194x194.png" sizes="194x194">
      <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="/static/favicons/manifest.json">
      <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="/static/favicons/favicon.ico">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
      <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <link rel="stylesheet" href="/static/css/vars-1584095722.css"/>
      <link rel="stylesheet" href="/static/css/page-1584096688.css"/>
      <link rel="stylesheet" href="/static/css/common-1579520351.css"/>
      <link rel="stylesheet" href="/static/css/record-1571411027.css"/>
      <link rel="stylesheet" href="/static/css/workflow-1574934305.css"/>
      <link rel="stylesheet" href="/static/css/cust-1571324857.css"/>
      <link rel="stylesheet" href="/static/css/overview-1576665023.css"/>
    </head>
    <body>
      <div id="msgbar">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for (category, message) in messages %}
          <div class="msgitem {{category}}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
      <div id="topbar">
        {{topbar|safe}}
      </div>
      <div id="rest">
        <div id="sidebar">
          {{sidebar|safe}}
        </div>
        <div id="material">
          {{material|safe}}
        </div>
      </div>
  <script type="text/javascript" src="/static/js/jquery-1529224211.js"></script>
  <script type="text/javascript" src="/static/js/index-1579609657.js"></script>
    </body>
</html>
